[ req ]
default_bits		= 1024		#ukuran key
default_keyfile		= key.pem	#nama dari generate key
default_md		= md5		#algoritma digest untuk pesan
string_mask		= nombstr	#permitted character
distinguished_name	= req_distinguished_name
req_extensions		= v3_req

[ ca ]
default_ca		= CA_default

[ CA_default ]
dir			= /home/peni/Documents/Kij/openca/CA
serial			= $dir/serial
database		= $dir/index.txt
new_certs_dir		= $dir/newcerts
certificate		= $dir/cacert.pem
private_key		= $dir/private/cakey.pem
default_days		= 365
default_md		= md5
preserve		= no
email_in_dn		= no
nameopt			= default_ca
certopt			= default_ca
policy			= policy_match

[ policy_match ]
countryName		= match
stateOrProvinceName	= optional
organizationName	= match
organizationalUnitName	= optional
commonName		= optional
emailAddress		= optional

[ req_distinguished_name ]
0.organizationName	= kij
organizationalUnitName	= kelompok
emailAddress		= penitasari93@gmail.com
emailAddress_max	= 40
localityName		= Surabaya
stateOrProvinceName	= Jatim
countryName		= US
countryName_min		= 2
countryName_max		= 2
commonName		= 10.151.32.220
commonName_max		= 64

0.organizationName_default	= Teknik Informatika
localityName_default		= Metropolis
stateOrProvincename_default	= New York
countryName_default		= US

[ v3_ca ]
basicConstraints	= CA:TRUE
subjectKeyIdentifier	= hash
authorityKeyIdentifier  = keyid:always,issuer:always

[ v3_req ]
basicConstraints	= CA:FALSE
subjectKeyIdentifier	= hash
